[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "==1.84.1"

[dev-packages]
Django = ">=2.0"
psycopg2-binary = "*"
pylama = { git = "https://lab.errorist.xyz/py/pylama", ref = "py3.7" }
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-vcr = "*"
factory_boy = ">=2.11.1"


[requires]
python_version = "3.6"
