interactions:
- request:
    body: email=test%40example.com
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      Stripe-Version: ['2018-05-21']
      authorization: [DUMMY]
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_D4sVuHUNQI93Zt\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"created\": 1529410553,\n  \"currency\":\
        \ null,\n  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\"\
        : null,\n  \"discount\": null,\n  \"email\": \"test@example.com\",\n  \"invoice_prefix\"\
        : \"1E98B74\",\n  \"livemode\": false,\n  \"metadata\": {},\n  \"shipping\"\
        : null,\n  \"sources\": {\n    \"object\": \"list\",\n    \"data\": [],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_D4sVuHUNQI93Zt/sources\"\
        \n  },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_D4sVuHUNQI93Zt/subscriptions\"\
        \n  }\n}\n"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2018-05-21']
    status: {code: 200, message: OK}
version: 1
