interactions:
- request:
    body: null
    headers:
      Stripe-Version: ['2018-05-21']
      authorization: [DUMMY]
    method: GET
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=sub_FakeUser
  response:
    body: {string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"\
        doc_url\": \"https://stripe.com/docs/error-codes/resource-missing\",\n   \
        \ \"message\": \"No such customer: sub_FakeUser\",\n    \"param\": \"customer\"\
        ,\n    \"type\": \"invalid_request_error\"\n  }\n}\n"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2018-05-21']
    status: {code: 404, message: Bad Request}
version: 1
