interactions:
- request:
    body: null
    headers:
      Stripe-Version: ['2018-05-21']
      authorization: [DUMMY]
    method: GET
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_BRObI5Us8hKBoq
  response:
    body: {string: "{\n  \"object\": \"invoice\",\n  \"amount_due\": 9999,\n  \"amount_paid\"\
        : 0,\n  \"amount_remaining\": 9999,\n  \"application_fee\": null,\n  \"attempt_count\"\
        : 0,\n  \"attempted\": false,\n  \"billing\": \"charge_automatically\",\n\
        \  \"billing_reason\": \"upcoming\",\n  \"charge\": null,\n  \"closed\": false,\n\
        \  \"currency\": \"usd\",\n  \"customer\": \"cus_BRObI5Us8hKBoq\",\n  \"date\"\
        : 1532184904,\n  \"description\": null,\n  \"discount\": null,\n  \"due_date\"\
        : null,\n  \"ending_balance\": null,\n  \"forgiven\": false,\n  \"lines\"\
        : {\n    \"object\": \"list\",\n    \"data\": [\n      {\n        \"id\":\
        \ \"sli_af0e07feb35134\",\n        \"object\": \"line_item\",\n        \"\
        amount\": 9999,\n        \"currency\": \"usd\",\n        \"description\":\
        \ \"1 \xD7 Plan 1 Test (at $99.99 / month)\",\n        \"discountable\": true,\n\
        \        \"livemode\": false,\n        \"metadata\": {},\n        \"period\"\
        : {\n          \"end\": 1534863304,\n          \"start\": 1532184904\n   \
        \     },\n        \"plan\": {\n          \"id\": \"PLAN-1-TEST\",\n      \
        \    \"object\": \"plan\",\n          \"active\": true,\n          \"aggregate_usage\"\
        : null,\n          \"amount\": 9999,\n          \"billing_scheme\": \"per_unit\"\
        ,\n          \"created\": 1501314263,\n          \"currency\": \"usd\",\n\
        \          \"interval\": \"month\",\n          \"interval_count\": 1,\n  \
        \        \"livemode\": false,\n          \"metadata\": {\n            \"coupon\"\
        : \"VOUCH-50-USD\"\n          },\n          \"nickname\": null,\n        \
        \  \"product\": \"prod_BUMXJWClxAISXj\",\n          \"tiers\": null,\n   \
        \       \"tiers_mode\": null,\n          \"transform_usage\": null,\n    \
        \      \"trial_period_days\": null,\n          \"usage_type\": \"licensed\"\
        \n        },\n        \"proration\": false,\n        \"quantity\": 1,\n  \
        \      \"subscription\": \"sub_BROsof61nYTM7D\",\n        \"subscription_item\"\
        : \"si_1B4W4yKf0MzeZZE3yweCHiPo\",\n        \"type\": \"subscription\"\n \
        \     }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n    \"\
        url\": \"/v1/invoices/upcoming/lines?customer=cus_BRObI5Us8hKBoq\"\n  },\n\
        \  \"livemode\": false,\n  \"metadata\": {},\n  \"next_payment_attempt\":\
        \ 1532188504,\n  \"number\": \"1F31E75-0095\",\n  \"paid\": false,\n  \"period_end\"\
        : 1532184904,\n  \"period_start\": 1529592904,\n  \"receipt_number\": null,\n\
        \  \"starting_balance\": 0,\n  \"statement_descriptor\": null,\n  \"subscription\"\
        : \"sub_BROsof61nYTM7D\",\n  \"subtotal\": 9999,\n  \"tax\": null,\n  \"tax_percent\"\
        : null,\n  \"total\": 9999,\n  \"webhooks_delivered_at\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2018-05-21']
    status: {code: 200, message: OK}
version: 1
